<div id="footer">
    <div>
      <form>
        <label>How doers get more done™</label>
        <label
          >Need Help? Please call us at:
          <span>1-800-HOME-DEPOT (1-800-466-3337</span></label
        >
      </form>

      <div style="margin-left:380px;">
        <div>
          <p>Customer Service</p>
          <div>Check Order Status</div>
          <div>Pay Your Credit Card</div>
          <div>Order Cancellation</div>
          <div>Returns</div>
          <div>Shipping & Delivery</div>
          <div>Product Recalls</div>
          <div>Help & FAQs</div>
          <div>Privacy & Security Center</div>
        </div>

        <div>
          <p><span>Resources</span></p>
          <div>Specials & Offers</div>
          <div>DIY Projects & Ideas</div>
          <div>Truck & Tool Rental</div>
          <div>Installation & Services</div>
          <div>Protection Plans</div>

          <div>Rebate Center</div>

          <div>Gift Cards</div>
          <div>Subscriptions</div>
        </div>

        <div>
          <p>About Us</p>
          <div>Careers</div>
          <div>Corporate Information</div>
          <div>Digital Newsroom</div>
          <div>Home Depot Foundation</div>
          <div>Investor Relations</div>
          <div>Government Customers</div>
          <div>Suppliers & Providers</div>
          <div>Affiliate Program</div>
          <div>Eco Options</div>
          <div>Coporate Responsibilty</div>
          <div>Home Depot Licensing Information</div>
        </div>

        <div>
          <div>
            <div>
              <div>
                <img
                  src="https://image.shutterstock.com/image-vector/credit-card-icon-vector-260nw-1377527150.jpg"
                />

                <p>Special Financing Available everyday*</p>
              </div>
              <div>
                <p>Pay & Manage Your Card</p>
                <p>Credit Offers</p>
              </div>
            </div>
          </div>
          <div>
            <p>
              Get $5 off when you sign up for emails with savings and tips.
            </p>

            <div>
              <input type="text" placeholder="Enter Email Address" />
              <button>Go</button>
              <img
                src="https://image.shutterstock.com/image-photo/vinnytsia-ukraine-december-14-2018-260nw-1343044466.jpg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="lowerDiv">
    <div>
      <div>Shop Our Brands</div>
      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/husky.png"
      />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/lifeproof.png"
      />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/everbilt.png"
      />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/glacier-bay.png"
      />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/company-store.png"
      />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/blinds-dot-com.png"
      />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/hampton-bay.png"
      />
    </div>

    <div>
      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/style-well.png"
      />

      <img src="https://assets.thdstatic.com/images/v1/brand-logos/hdx.png" />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/home-decorator.png"
      />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/vigoro.png"
      />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/traffic-master.png"
      />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/defiant.png"
      />

      <img
        src="https://assets.thdstatic.com/images/v1/brand-logos/eco-smart.png"
      />
    </div>
  </div>

  <div id="last_div">
  
    <p>
      © 2000-2021 Home Depot Product Authority, LLC. All Rights Reserved. Use
      of this site is subject to certain Terms Of Use.
    </p>

    <p>
      Local store prices may vary from those displayed. Products shown as
      available are normally stocked but inventory levels cannot be guaranteed
    </p>

    <p>
      For screen reader problems with this website, please call 1-800-430-3376
      or text 38698 (standard carrier rates apply to texts)
    </p>

    <p>
      Privacy & Security Statement Cookie Usage My Preference Center
      California Privacy Rights & Report Do Not Sell My Personal Information
      California Supply Chain Act Site Map Store Directory Mobile Site
    </p>
  </div>


