<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Home Depot</title>
    <link rel = "icon" href ="https://assets.homedepot-static.com/single-signin-ui/0.557.0/build/7b4c51f66559b768081eabf61db98f2d.svg" type = "image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/carousel.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="css/listMin.css">
    <link rel="stylesheet" href="css/register.css">
    <!----------font awesome cdn ------------->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- bootstrap icons cdn -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <!-- Heading  -->
        <div class="heading">
            <p id="retainerHeading">#1 Home Improvement Retailer</p>
        </div>


        <!-- Extra Options -->
        <div class="extraOptions">
               <ul>
                   <li> <a href="#">Store Finder</a></li>
                   <li> <a href="#">Truck & Tool Rental</a></li>
                   <li> <a href="#">For the Pro</a></li>
                   <li> <a href="#">Gift Cards</a></li>
                   <li> <a href="#">Credit Services</a></li>
                   <li> <a href="#">Track Order</a></li>
                   <li> <a href="#">Help</a></li>
               </ul> 
        </div>

        <!-- Navbar -->
        <nav class="navbar">

            <div class="navbar_container">
                <div class="locationTracker">

                    <div class="logo">
                        <a href="/index"><img src="https://1000logos.net/wp-content/uploads/2017/02/Home-Depot-Logo.png" alt="logo"></a>
                    </div>

                    <div class="currnetLocation">
                        <div class="currentLocationBtn">
                            <p>You're shopping</p>
                            <h5>Guam - Tamuning</h5>
                            <h6><button></button>OPEN <span>unit 10 pm</span></h6>
                        </div>
                        <div class="findLocationResult">
                            <div class="box1">
                                <p>Guam - Tamuning#1710</p>
                            </div>
                            <div class="box2">
                                <div class="leftBox">
                                    <h4>OPEN</h4>
                                    <h5>Closes 10 pm</h5>
                                    <p>Curbside Available</p>
                                    <p>295 Chalan Pasaheru Route 10a
                                        Tamuning, GU 96913
                                        (671)648-0440
                                        View Local Ad
                                        View Store Details
                                    </p>
                                </div>
                                <div class="rightBox">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJgjG37yPyDwQfFDMpErxeMJD-UITAkie7Lg&usqp=CAU" alt="">
                                </div>
                            </div>

                            <div class="box3">
                                <button>Find Other Stores</button>
                            </div>
                        </div>
                    </div>

                    <div class="vertical"></div>

                    <!-- Delivery location -->
                    <div class="delivery">
                        <div class="deliveryBtn">
                            <p>Delivering to</p>
                            <h6>96913 <img src="" alt=""></h6>
                        </div>
                        <div class="deliveryResult">
                            <div class="box1">
                                <p>Enter delivery ZIP Code</p>
                            </div>

                            <div class="box2">
                                <input type="text" placeholder="Enter Zip Code">
                            </div>

                            <div class="box3">
                                <button>Update</button>
                            </div>
                            <hr>
                            <div class="box4">
                                <div class="imgBox">
                                    <img src="" alt="">
                                </div>
                                <div class="zipCodeHelp">
                                    <p>Your ZIP Code helps us to provide the most up-to-date product and delivery information.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="searchbox">
                    <input type="text" placeholder="What can we help you find today?" id="searchfield">
                    <button> <img src="/images/search.svg" alt="search_logo"> </button>
                    <div class="searchOption">
                        
                    </div>
                </div>
                
                <div class="profileSection">
                    <ul>
                        <li id="myAccount"><a href="#"> <span id="myProfile" >My Account</span>  <img src="/images/person.svg" alt="logo"> </a>
                            <div class="registerform">
                                <div class="registrationBtn">
                                    <a href="/email_login" ><button id="signinBtn">Sign in</button></a>
                                    <a href="/register" ><button id="registerBtn">Register</button></a>
                                    <a href="#" ><button id="logOutBtn">Logout</button></a>
                                </div>
                                <div class="otherSections">
                                    <ul>
                                        <li><a href="#"><img src="" alt="">Orders & Purchases</a></li>
                                        <li><a href="#"><img src="" alt="">My Home Depot Credit Card</a></li>
                                        <li><a href="#"><img src="" alt="">Account Profile</a></li>
                                        <li><a href="#"><img src="" alt="">Instant Checkout Setting</a></li>
                                        <li><a href="#"><img src="" alt="">Lists</a></li>
                                        <li><a href="#"><img src="" alt="">My Subscriptions</a></li>
                                        <li><a href="#"><img src="" alt="">Military Discount Program</a></li>
                                        <li id="logOut" style="display: none;"><a href="#"><img src="" alt="">Log out</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="./main/list.html">Lists <img src="/images/heart.svg" alt="logo"> </a></li>
                        <li><a href="./main/cart.html">Cart |<span id="totalItems"> 6 </span> items<img src="/images/cart.svg" alt="logo"> </a></li>
                    </ul>
                </div>
            </div>
            
            <div class="nav_catagory">
                <ul>
                    <li id="allDepartment"><a href="/products">All Departments</a>
                        <div class="allDepartment_list">
                            <!-- <ul>
                                <li><a href="./main/allProducts.html">Holiday Decorations</a></li>
                                <li><a href="./main/allProducts.html">Appliances</a></li>
                                <li><a href="./main/allProducts.html">Bath & Faucets</a></li>
                                <li><a href="./main/allProducts.html">Blinds & Window Treatment</a></li>
                                <li><a href="./main/allProducts.html">Building Materials</a></li>
                                <li><a href="./main/allProducts.html">Cleaning</a></li>
                                <li><a href="./main/allProducts.html">Decor & Furniture</a></li>
                                <li><a href="./main/allProducts.html">Doors & Windows</a></li>
                                <li><a href="./main/allProducts.html">Electrical</a></li>
                                <li><a href="./main/allProducts.html">Flooring & Area Rugs</a></li>
                                <li><a href="./main/allProducts.html">Hardware</a></li>
                                <li><a href="./main/allProducts.html">Heating & Cooling</a></li>
                                <li><a href="./main/allProducts.html">Kitchen & Kitchenware</a></li>
                                <li><a href="./main/allProducts.html">Lawn & Garden</a></li>
                                <li><a href="./main/allProducts.html">Lighting & Ceiling Fans</a></li>
                                <li><a href="./main/allProducts.html">Outdoor Living & Patio</a></li>
                                <li><a href="./main/allProducts.html">Paint</a></li>
                                <li><a href="./main/allProducts.html">Plumbing</a></li>
                                <li><a href="./main/allProducts.html">Smart Home</a></li>
                                <li><a href="./main/allProducts.html">Storage & Organization</a></li>
                                <li><a href="./main/allProducts.html">Tools</a></li>
                            </ul> -->
                        </div>
                    </li>
                    <li><a href="/products">DIY Projects & Idea</a></li>
                    <li><a href="/products">Home Decor, Furniture & Kitchenware</a></li>
                    <li><a href="/products">Project Calculators</a></li>
                    <li><a href="/products">Installation & Services</a></li>
                    <li><a href="/products">Specials & Offers</a></li>
                    <li><a href="/products">Local Ad & Catalog</a></li>
                </ul>
            </div>
        </nav>

        <!-- Banner Section -->
        <div class="bannerSection">
            <div class="carousel">
                <div class="carousel__item carousel__item--visible">
                  <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/20211202-ContentHub.jpg" />
                </div>
                <div class="carousel__item">
                  <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/20211202-Appliances3.jpg" />
                </div>
                <div class="carousel__item">
                  <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/20211202-Tools-5.jpg" />
                </div>
          
                <div class="carousel__actions">
                  <button id="carousel__button--prev" aria-label="Previous slide"><img src="./image/leftArrow.svg" alt=""></button>
                  <button id="carousel__button--next" aria-label="Next slide"><img src="./image/rightArrow.svg" alt=""></button>
                </div>
              </div>
        </div>

        <!-- Abu's Code -->
        <div class="middleSection">

        </div>



        <!-- Offer Section -->
        <!-- <div class="offerSection">
            <div class="box1">
                <div class="offerHeading">
                    <div class="imgBox">
                        <img src="https://www.homedepot.com/SpecialBuy/images/Logo-SBOTD.svg" alt="">
                    </div>
                    <div class="offerHeadline">
                        <h1>Up to $80 off Select Smart Home , Solar , and Lighting</h1>
                        <p>Free Delivery. <h5>Today Only</h5></p>
                    </div>
                </div>
                <div class="shopBtn">
                    <button id="specialOfferBtn">Shop Today's Specials</button>
                </div>
            </div>
            <div class="box2">
                <div class="itemBox">
                    <img src="https://images.thdstatic.com/productImages/51fd36ee-72e7-4e1d-bc93-595452ec4a58/svn/chalk-google-doorbell-cameras-ga03698-64_145.jpg" alt="">
                </div>
                <div class="itemBox">
                    <img src="https://images.thdstatic.com/productImages/e058bab6-8500-4613-ab87-b341f7fe259e/svn/white-ring-alarm-systems-4k18sz-0en0-64_145.jpg" alt="">
                </div>
                <div class="itemBox">
                    <img src="https://images.thdstatic.com/productImages/1e712008-1840-4c7d-bf73-036c213db899/svn/sand-google-smart-routers-ga01425-us-64_145.jpg" alt="">
                </div>
                <div class="itemBox">
                    <img src="https://images.thdstatic.com/productImages/f07244c3-6f1d-4e35-9449-32a60c4eacb7/svn/black-defender-wireless-security-camera-systems-phoenixm22c-64_145.jpg" alt="">
                </div>
                <div class="itemBox">
                    <img src="https://images.thdstatic.com/productImages/8b8a568b-80cc-4f71-80eb-f46eea6ec803/svn/chalk-google-smart-speakers-and-displays-vbce2ck20-64_145.jpg" alt="">
                </div>
                <div class="itemBox">
                    <img src="https://images.thdstatic.com/productImages/f7a90a81-ffce-429c-b38d-75b063bdef2f/svn/black-white-google-doorbell-cameras-nc5100us-64_145.jpg" alt="">
                </div>
                <div class="itemBox">
                    <img src="https://images.thdstatic.com/productImages/673f68c4-ad60-4cf7-8dbe-718439c0dbfb/svn/white-body-temperature-monitoring-device-tcs-3221-w-64_145.jpg" alt="">
                </div>
                <div class="itemBox">
                    <img src="https://images.thdstatic.com/productImages/9f8ebc3a-6fc6-4d71-88dd-e5e5c3054078/svn/satin-nickel-ring-doorbell-cameras-8vrslz-0en0-64_145.jpg" alt="">
                </div>
                <div class="itemBox">
                    <img src="https://images.thdstatic.com/productImages/3d6b68c2-e448-440f-93fd-5ffd01e315e4/svn/satin-nickel-ring-doorbell-cameras-b08m125rnw-64_145.jpg" alt="">
                </div>
            </div>
        </div> -->

        <!-- holiday section -->
        <!-- <div class="holidaySection">
            <div class="box1">
                <h1>Last-Minute Holiday Prep </h1>
            </div>
            <div class="box2">
                <div class="itemBox">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/20211202Holiday-2.jpg" alt="">
                    <h1>FREE HOLIDAY DECOR PICKUP</h1>
                    <p>Online Orders Filled Fast at Any Store</p>
                </div>

                <div class="itemBox">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/20211202HP-Heating.jpg" alt="">
                    <h1>WARM UP & STAY COZY</h1>
                    <p>With Heaters Delivered Fast</p>
                </div>

                <div class="itemBox">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/20211209Decor.jpg" alt="">
                    <h1>ENTERTAINING & CELEBRATING</h1>
                    <p>Must-Haves for You & Guests</p>
                </div>

                <div class="itemBox">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/20211202Bath.jpg" alt="">
                    <h1>STYLISH BATH UPDATES</h1>
                    <p>With Big Impact</p>
                </div>
            </div>
        </div> -->


        <!-- Category Section -->
        <!-- <div class="category">
            <div class="category_heading">
                <h1>Shop by Category</h1>
            </div>
            <div class="categoryOptions">

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat1-Appliances.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat2-Bath.png" alt="">
                </div>
                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat3-Blinds.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat4-Building.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat5-Decor.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat6-Doors.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat7-Electrical.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat8-Flooring.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat9-Hardware.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat10-Hvac.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat11-Kitchen.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat12-LawnGarden.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat13-Lighting.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat14-OutdoorLiving.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat15-Paint.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat16-Plumbing.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat17-StorageOrg.png" alt="">
                </div>

                <div class="categoryItem">
                    <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/Cat18-Tools.png" alt="">
                </div>

            </div>
        </div> -->

        <!-- help banner section -->
        <!-- <div class="helpBanner">
                <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/20210304HPHomeServicesD.png" alt="">
        </div> -->

        <!-- helping section -->
        <!-- <div class="helping">
            <div class="helpingBox">
                <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/2021DAppCapabilities5.png" alt="">
            </div>
            <div class="helpingBox">
                <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/2021RentalCapabilities5.png" alt="">
            </div>
            <div class="helpingBox">
                <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/2021CUrbsideCapabilities5.png" alt="">
            </div>
            <div class="helpingBox">
                <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/2021DeliveryCapabilities5.png" alt="">
            </div>
        </div> -->


        <!-- Financining Banner -->
        <!-- <div class="financingBanner">
            <img src="https://contentgrid.thdstatic.com/hdus/en_US/DTCCOMNEW/fetch/NexGen/ContentPage/20210913HPCreditOfferD.png" alt="">
        </div> -->

        <!-- Change location -->
        <!-- <div class="changeLocation"></div> -->

        <!-- Sponsored Product section -->
        <!-- <div class="sponsoredSection"></div> -->

        <!-- Top Category section -->
        <!-- <div class="topCategory"></div> -->

        <!-- popular categories -->
        <!-- <div class="popularCategories"></div> -->

        <!-- Contact Section -->
        <!-- <div class="contact"></div> -->

        <!-- index section -->
        <!-- <div class="index"></div> -->

        <!-- Brand Section -->
        <!-- <div class="brandSection"></div> -->

        <!-- Footer Section -->
        <div class="footerSection"></div>
        

    </div>
    <!-- <button></button> -->
</body>
</html>

<!-- javaScript link -->
<script src="/script/currentLocation.js"></script>
<script src="/script/delivery.js"></script>
<script src="/script/profile.js"></script>
<script src="/script/allDepartment.js"></script>

<script src="/script/carousel.js"></script>

<script type="module">
    import footer from "../Component/footer.js";
    import middleSection from "../Component/middleSection.js";

    document.querySelector(".middleSection").innerHTML = middleSection();

    document.querySelector(".footerSection").innerHTML = footer();


</script>


<script>
   let email = JSON.parse(localStorage.getItem('UserEmail'));
   

   
//    if(email){
//        document.querySelector("#registrationBtn").style.display = 'none';
//    }
//    console.log(email);
if(email){
    document.querySelector("#myProfile").innerHTML = email;

document.querySelector("#signinBtn").style.display="none"
document.querySelector("#registerBtn").style.display="none"
document.querySelector("#logOutBtn").style.display="block";
}
   
//    document.querySelector(".registrationBtn").style.display = "none";

//    document.querySelector(".registrationBtn").innerHTML = `<button id="logOutBtn">Log out</button>`;

   document.querySelector("#logOutBtn").addEventListener("click",()=>{
       console.log("click")
        localStorage.removeItem("UserEmail")
        
     document.querySelector("#myProfile").innerHTML="My Account"
   document.querySelector("#logOutBtn").style.display="none";
   document.querySelector("#signinBtn").style.display="block"
   document.querySelector("#registerBtn").style.display="block"
        
   })
</script>

<!-- <script src="/script/profileUpdate.js"></script> -->

