body{
    font-family: Arial, Helvetica, sans-serif;
}
#mdiv{
    /* border:1px solid red; */
    margin:auto;
    width:32%;
    text-align:center;
    margin-top:2%;
}
#fdiv{
    margin:auto;
    /* border: 1px solid red; */
    text-align:left;
    margin-top:0px;
}
form{
    font-size:16px;
}
form>input{
    width:98%;
    height:35px;
    margin-top:12px;
    margin-bottom:12px;
}
/* button{
    width:100%;
    height:35px;
    margin-top:10px;
    background-color:rgb(249,99,2);
    font-size:20px;
    color:white;
    font-weight:bold;
    cursor: pointer;
} */
#ldiv{
    font-size:12px;
    text-align:center;
}
.info{
    color:red;
    line-height:0px;
    margin-top:0px;
    font-size:12px;
}
#logOutBtn{
    
    background-color:rgb(249,99,2);
    display: none;
    
}
#createBtn{
    background-color:rgb(249,99,2);
}

/* #signinBtn{

    width:100%;
    height:35px;
    margin-top:10px;
    background-color:rgb(249,99,2);
    font-size:20px;
    color:white;
    font-weight:bold;
    cursor: pointer;
} */

/* #registerBtn{
    background-color:rgb(249,99,2);
    
} */